@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&display=swap");

* {
  font-family: "Work Sans";
}
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  background: #fd6e0a;
  border-radius: 5px;
  margin-bottom: 25px;
}
.btn-secondary {
  color: #ffffff;
  font-weight: 900px;
  font-size: 35px;
  border: 0;
  padding: 35px 55px;
  height: 120px;
  background: #fd6e0a;
  border-radius: 5px;
  margin-bottom: 25px;
}
.banner {
  width: 1920px;
  height: 1322px;

background: rgba(255, 144, 14, 0.1);
}
.banner-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px 529px;
  text-align: center;
}
.banner-info-title h1 {
  font-weight: 700;
  font-size: 64px;
}
.banner-description {
  text-align: center;
}
.banner-image {
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}
.group-content {
  margin-top: 85px;
}

.group-work {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}
.group-work-title {
  font-weight: 500;
  font-size: 45px;
}
.group-work-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  left: 250px;
}
.group-content {
  display: flex;
  justify-content: center;
  left: 300px;
}
.group-work-description {
  margin-left: 100px;
  width: 537px;
}
/* feature style */
.feature {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
.feature-image {
  position: relative;
}
.feature-head {
  display: flex;
  flex-direction: column;
  margin-right: 240px;
  margin-left: 240px;
}
.feature-head-title {
  font-weight: 700;
  font-size: 45px;
}
.feature-head-title p {
  margin-top: 24px;
  margin-bottom: 30px;
}
.feature-item {
  width: 586px;
  height: 171px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}
.feature-item h2 {
  font-weight: 600;
  font-size: 20px;
}
.feature-item p,
h2 {
  margin: 30px 30px;
}
.feature-image {
  margin-right: 240px;
  width: 708px;
  height: 982px;
}
.feature-title title {
  font-weight: 700;
  font-size: 45px;
}
/* facts */
.facts {
  margin-top: 200px;
}
.fact-top h2 {
  font-weight: 700;
  font-size: 45px;
}
.fact-top p {
  font-weight: 400;
  font-size: 16px;
  margin-right: 1140px;
  margin-left: 33px;
}

.fact-head {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fact-item {
  display: flex;
  flex-direction: column;
  width: 241.83px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  align-items: center;
  margin: 0 auto;
}
.fact-item img {
  width: 47.39px;
  height: 45.22px;
  margin-top: 25px;
  margin-bottom: 0;
}

/* contact */
.contact {
  margin-top: 80px;
}
.contact-image {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 50px;
  background-color: none;
}
.contact-item h1 {
  font-weight: 700;
  font-size: 45px;
}
.contact-item p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what{
  margin-top: 30px;
  background-color: rgb(246, 233, 233);
}
.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.skill-description {

}
.section-title {
  text-align: center;
  margin-bottom: 70px;
  font-weight: 700;
font-size: 45px;
}
.footer {
  font-weight: 400;
  font-size: 20px;
  width: 1440px;
  background-color: #fff4e7;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 100px auto;
}

@media only screen and (max-width: 576px) {
  .banner {
    width: 100%;
    height: 100%;
  background: rgba(255, 144, 14, 0.1);
  }
  .group-work-images {
    width: 375px;
    height: 375px;
    
    
  }
  .group-work{
    grid-template-columns: repeat(1, 1fr);
  }

  .feature,.contact,.facts,.footer{
    display: none;
  }
  .group-content {
    
    flex-direction: column;
  }
  .banner-info {
    flex-direction: column;
    margin: 0 auto;
    padding: 0%;
    
  }
  nav {
    flex-direction: column;
    margin: 0 0;
  }
  
}